@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Dosis:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Dancing+Script&family=Dosis:wght@200&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
body {
  background-color: #f3f3f3;
}
/* end header*/
.wrapper {
  background: #d13e3e;
  position: fixed;
  width: 100%;
}
.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
nav .content {
  display: flex;
  align-items: center;
}
nav .content .links {
  margin-left: 80px;
  display: flex;
}
.content .logo h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  font-family: "Cookie", cursive;
}
.content .logo span {
  color: rgb(43, 41, 41);
}

.content .links li {
  list-style: none;
  line-height: 50px;
}
.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 9px 17px;

  transition: all 0.3s ease;
}
.content .links li label {
  display: none;
}
.content .links li a:hover,
.content .links li label:hover {
  color: #e7adad;
}
.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon {
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #d13e3e;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder {
  color: #f2f2f2;
}
.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 50px;
  width: 70px;
  background: #d13e3e;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  height: 50px;
}
.wrapper input[type="checkbox"] {
  display: none;
}

/* Dropdown Menu code start */
.content .links ul {
  position: absolute;
  background: #d13e3e;
  top: 51px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 220px;
}
.hr {
  border-bottom: 0.5px solid rgb(236, 157, 157);
  width: 98%;
  margin: 0 auto;
}
.content .links li:hover > ul {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
}
.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}
.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li {
  position: relative;
}
.content .links ul li:hover ul {
  top: 0;
}

/* end header*/
.container {
  width: 70%;
  margin: auto;
  height: 1000px;
}
.box-left {
  background-color: white;
  margin-top: 55px;
  float: left;
  width: 70%;
  padding: 10px;
  height: 1023px;
}
.box-left h1 {
  font-size: 20px;
  margin-bottom: 7px;
}
.box-left .content {
  font-size: 13px;
}
.box-left .other-new {
  clear: both;
  padding: 5px;
}
.other-new h3 {
  color: rgb(43, 40, 40);
  font-size: 15px;
}
.other-new p {
  font-size: 13px;
  padding: 10px 0;
}
.other-new h3:hover {
  color: rgb(196, 84, 84);
}
.box-left .other-new img {
  float: left;
  margin-right: 5px;
  width: 160px;
}

.box-right {
  background-color: white;
  height: 1023px;
  float: right;
  width: 30%;
  margin-top: 55px;
}

.list-new {
  width: 250px;
  margin: auto;
  background: #f5f5f5;
  margin-top: 10px;
  height: auto;
  padding: 5px 20px;
}
.list-new h1 {
  font-size: 20px;
  text-align: center;
}
.list-new .new-c a {
  font-size: 14px;
  padding: 5px;
  color: rgb(34, 34, 37);
}
.list-new a:hover {
  color: rgb(196, 84, 84);
}
.hr {
  border-bottom: 1px solid rgb(184, 156, 156);
  margin-top: 5px;
  width: 99%;
}
/* footer  */
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #d82020;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.ha {
  border: 0.4px solid rgb(124, 116, 116);
  margin-top: 19px;
  width: auto;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #993232;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
/* End footer*/

/* Responsive code start */

@media screen and (max-width: 1250px) {
  .container {
    width: 100%;
  }
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 5px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 905px) {
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    content: "\f00d";
  }
  nav .content .links {
    display: block;
    position: fixed;
    background: #d13e3e;
    height: 100%;
    width: 100%;
    top: 50px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.6s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 14px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }

  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-TV:checked ~ ul,
  .content .links #show-CHD:checked ~ ul,
  .content .links #show-TL:checked ~ ul,
  .content .links #show-GM:checked ~ ul,
  .content .links #show-K:checked ~ ul,
  .content .links #show-PT:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 14px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}
@media screen and (max-width: 787px) {
  .box-right {
    display: none;
  }
  .box-left {
    width: 100%;
  }

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}
@media screen and (max-width: 555px) {
  .box-right {
    display: none;
  }
  .box-left {
    width: 100%;
    height: auto;
  }

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}

@media screen and (max-width: 444px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 20px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 16px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}
