@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Syne+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}




/* @media only screen and (max-width: 962px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  /* .show + a,
  ul {
    display: none;
  } */
/*nav ul li,
  nav ul ul li {
    display: block;
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    display: none;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
} */
@media only screen and (max-width: 1200px) {
  nav ul {
    margin-right: 0px;
    float: left;
  }
  nav .logo {
    padding-left: 30px;
    width: 100%;
  }
  /* .show + a,
  ul {
    display: none;
  } */
  nav ul li,
  nav ul ul li {
    width: 100%;
  }
  nav ul li a:hover {
    box-shadow: none;
  }
  .show {
    display: block;
    color: white;
    font-size: 18px;
    padding: 0 20px;
    line-height: 70px;
    cursor: pointer;
  }
  .show:hover {
    color: cyan;
  }
  .icon {
    display: block;
    color: white;
    position: absolute;
    top: 0;
    right: 40px;
    line-height: 70px;
    cursor: pointer;
    font-size: 25px;
  }
  nav ul ul {
    top: 70px;
    border-top: 0px;
    float: none;
    position: static;
    opacity: 1;
    visibility: visible;
    transition: 0.3s;
  }
  nav ul ul a {
    padding-left: 40px;
  }
  nav ul ul ul a {
    padding-left: 80px;
  }
  nav ul ul ul li {
    position: static;
  }
  [id^="btn"]:checked + ul {
    display: block;
  }
  nav ul ul li {
    border-bottom: 0px;
  }
  span.cancel:before {
    content: "\f00d";
  }
}
.container {
  background-color: #f5f5f5;
  height: 3000px;
  padding-top: -8%;
}

#menu ul {
  background: #1d2021;
  width: 250px;
  padding-top: 50%;
  list-style-type: none;
  text-align: left;
  color: rgba(32, 35, 36, 255);
}
h2 {
  text-indent: 30px;
  margin-bottom: 10px;
}
p {
  text-indent: 30px;
}
.main {
  z-index: 0;
  display: flex;
}

.main_text_right {
  flex: 1;
  background-color: rgba(245, 245, 245, 255);
  margin-left: 2%;
  margin-right: 15%;
}
.main_text_left {
  flex: 3;
  background-color: rgba(255, 255, 255, 255);
  margin-left: 15%;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.materrial {
  margin-top: 0.5%;

  padding: 12px 16px;
  display: flex;
}
.img {
  flex-basis: 20%;
}
.content {
  display: flex;
}

/* CSS for tu vi */

.main-content {
  
  max-width: 1024px;
  margin: 0px auto;
  display: block;
  width: calc(100% - 60px);
  padding: 20px 0 38px 0;
}
.boxs-tu-vi {
  margin: 0 auto;
  max-width: 1024px;
  width: 100%;
  float: left;
  padding: 15px 9px;
  background: #fff;
  overflow-x: auto;
  white-space: nowrap;
  margin-bottom: 10px;
}
.tivi-icon.chdao {
  font-size: 13px;
  display: table-cell;
  text-align: center;
  padding: 0 7.5px;
  text-decoration: none;
  color: #6f6f6f;
}
a.tivi-icon.chdao:hover {
  color: #dc1435;
}

.tivi-icon img {
  width: 48px;
  height: 48px;
}

/*  */
.main-wrapper {
  z-index: 0;
  margin-top: 58px;
  background: #fff;
  float: left;
  max-width: 1024px;
  width: 100%;
  padding: 12px;
  position: relative;
}
.content-left {
  display: inline-block;
  max-width: 100%;
  width: 68%;
  position: relative;
}
.right-cat {
  display: none;
}
.boder_fix {
  border-right: solid 0.5px #e0e0e0;
  padding-right: 15px;
  float: left;
  width: 100%;
}
.breadcrumb1 {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  border-bottom: solid 0.5px #e0e0e0;
  padding-bottom: 10px;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.breadcrumb1-item {
  display: inline;
  font-size: 13px;
  color: #6f6f6f;
}
.article {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 30px;
  line-height: 26px;
}
.page-head {
  font-size: 15px;
  float: left;
  width: 100%;
  padding-bottom: 15px;
  position: relative;
}
.article-time {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  font-size: 0.85em;
}
.fixleft {
  float: left;
}
.fixright {
  float: right;
}
.post-time-item {
  line-height: 24px;
  font-size: 0.85em;
  color: #999;
}
.item-share {
  float: left;
  margin-right: 10px;
}
a {
  color: #323232;
  text-decoration: none;
}
.title-12-cdh {
  width: 100%;
  float: left;
  text-align: center;
  margin: 20px 0;
}
.post-sapo-page {
  font-size: 16px;
  padding-bottom: 15px;
  float: left;
  font-weight: normal;
  width: 100%;
}
.cunghoangdao-mobi {
  width: 100%;
  float: left;
  margin-bottom: 15px;
  display: none;
}
.dropdown-btn5 {
  background: #f1f1f1;
  padding: 8px 10px;
  float: left;
  font-size: 16px;
  font-weight: bold;
  border-radius: 2px;
  cursor: pointer;
  position: relative;
  transform: translateX(-50%);
  left: 50%;
  margin-bottom: 10px;
}
.ic_drop_down {
  margin-top: 4px;
  float: right;
  margin-left: 5px;
}
.dropdowncontent5 {
  display: none;
  float: left;
  width: 100%;
}
.widget-container {
  float: left;
  width: 100%;
  position: relative;
}
.bg-wg2 {
  background: #f1f1f1;
}
.widget-icon {
  padding: 15px;
  text-align: center;
  width: 100%;
  float: left;
}
.widget-icon img {
  height: 120px;
  width: 120px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  line-height: 1.4;
}
.wg-title-chd {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.ulwidget-icon li {
  position: relative;
  padding: 10px 0;
  border-top: solid 1px #e0e0e0;
  float: left;
  width: 100%;
  font-size: 14px;
}
.entry-mucluc {
  float: left;
  width: 100%;
  margin-bottom: 10px;
  background: #f1f1f1;
}
.accordion-menu {
  width: 100%;
  float: left;
}
.accordion_item1 {
  padding: 13px;
  position: relative;
  width: 100%;
  float: left;
}
.accordion_item1:last-child {
  border-bottom: 0;
}
.accordion_title {
  float: left;
  font-weight: normal;
}
.ic-danhmuc2 {
  float: left;
  height: 14px;
  margin-right: 9px;
  margin-top: 5px;
}
.dropdownlink {
  cursor: pointer;
  display: block;
  position: absolute;
  right: 10px;
  background: url(/content/images/down3.svg) no-repeat center;
  background-size: 12px;
  width: 24px;
  height: 24px;
  -webkit-transition: all 0.4s ease-out;
  transition: all 0.4s ease-out;
}
.accordion_item1.open .dropdownlink {
  background: url(/content/images/down4.svg) no-repeat center;
  background-size: 12px;
}
.accordion_dropdown {
  display: block;
  width: 100%;
  float: left;
  padding-top: 10px;
}
.accordion_dropdown.fixbodertop {
  border-top: solid 2px #e0e0e0;
  margin-top: 10px;
}
.entry-li3 {
  float: left;
  width: 33.33%;
  padding: 5px 12px;
  position: relative;
}
.menu_down:first-child {
  border-top: 0;
}
.menu_down {
  position: relative;
  width: 100%;
  float: left;
  border-top: 1px solid #e0e0e0;
}
.ads {
  float: left;
  width: 100%;
  text-align: center;
  position: relative;
}
.ads.ads-content {
  margin-bottom: 15px;
}
.advbox {
  display: none;
}
.advbox2 {
  padding: 5px 0;
  clear: both;
  text-align: center;
}
.aside-300 {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  width: 30%;
  margin-left: 13px;
  top: 8%;
  margin-left: 13px;
}
.widget {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
.widget-title.widget-title2 {
  margin: 0;
  text-align: center;
  border: 0;
  padding: 10px 0;
}
.wg-title-chd {
  font-size: 20px;
  font-weight: bold;
  position: relative;
}
.icBachDuong-wg {
  height: 24px;
  position: absolute;
  left: -32px;
  top: -3px;
}
.widget-title.fixtitlewidget {
  margin-top: 12px;
  margin-bottom: 0;
}
.widget-title-cat.fixtitlewidget {
  position: relative;
  margin-left: 12px;
  float: left;
}
.widget-title-cat::before {
  position: absolute;
  content: "";
  height: 24px;
  width: 5px;
  left: 0;
  background: #dc1435;
  top: 2px;
}
.widget.fix-widget3 {
  background: #f2f2f2;
}
.widget-title3 {
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: solid 1px #e0e0e0;
  float: left;
  width: 100%;
  position: relative;
  font-size: 20px;
  font-weight: bold;
}
.widget-news3:first-child {
  padding-top: 0;
}
.widget-news3 {
  padding: 20px 10px;
  border-bottom: solid 1px #e0e0e0;
  position: relative;
  float: left;
  width: 100%;
}
.count123 {
  float: left;
  width: 32px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-weight: bold;
  background: #aaa;
  margin-right: 15px;
  margin-top: 6px;
  color: #fff;
}
.widget-container .description {
  display: grid;
}
.post-title-widget {
  font-size: 15px;
  font-weight: normal;
}


.post-social {
  float: right;
}
.ic-social {
  width: 24px;
  height: 24px;
  margin-left: 8px;
}
.ic-GooglePlay {
  height: 50px;
}
.page-content {
  border-bottom: solid 0.5px #e0e0e0;
}
.page-content .other-news:last-child {
  border-bottom: none;
}
.page-content .other-news {
  float: left;
  max-width: 100%;
  width: 100%;
  position: relative;
  padding: 20px 0;
  border-bottom: solid 0.5px #e0e0e0;
}
.col2:first-child {
  width: 48.5%;
  margin-right: 17px;
  display: inline-block;
}
.col2 {
  vertical-align: top;
  width: 44%;
  display: inline-block;
}
.thumb-full {
  width: 100%;
}
.thumb120 img {
  float: left;
  width: 39%;
}
.post-sapo {
  font-size: 15px;
}
p {
  text-indent: unset;
}
.post-listing .other-news {
  float: left;
  width: 100%;
  position: relative;
  padding: 20px 0;
  border-bottom: solid 0.5px #e0e0e0;
}
.thumb200 {
  width: 32%;
  height: 125px;
  display: inline-block;
}
.post-listing .description {
  width: 65%;
  display: inline-block;
  vertical-align: top;
  padding-left: 8px;
}
.post-title4 {
  width: 100%;
}
.line3 {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.pagination {
  float: left;
  width: 100%;
  border-top: solid 0.5px #e0e0e0;
  padding: 20px 0;
}
.pagination-right {
  float: right;
}
.pagination-pages.active {
  background-color: #dc1435;
  color: #fff;
}
.pagination-pages {
  margin-left: 10px;
  float: left;
  height: 32px;
  width: 32px;
  text-align: center;
  line-height: 32px;
  background-color: #f2f2f2;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
.bold-mobi {
  text-align: left;
  padding-left: 128px;
}
.h125 {
  height: 125px;
}
/* Responsive */

@media only screen and (max-width: 768px) {
  .show,
  .icon,
  input {
    font-size: 33px;
    top: 5px;
    display: block;
    position: absolute;
    right: 19px;
  }
  .sticky-nav {
    position: fixed;
    z-index: 2;
  }
  nav .logo {
    max-width: 100%;
    width: 100%;
  }
  .main {
    z-index: 1;
    padding-top: 73px;
  }
  .boxs-tu-vi {
    border-bottom: solid 1px #e0e0e0;
  }
  .right-cat {
    display: none;
  }
  .main-wrapper {
    padding-top: 0;
  }
  .content-left {
    max-width: 100%;
    width: 100%;
  }
  .post-listing,
  .page-content {
    width: 100%;
  }
  .article-time {
    display: none;
  }
  .col2:first-child {
    width: 48.5%;
    vertical-align: top;
    display: inline-block;
  }
  .col2 {
    width: 46%;
    display: inline-block;
  }
  .thumb-full {
    width: 100%;
  }
  .thumb120 img {
    float: left;
    width: 39%;
    height: 75px;
  }
  .page-content .other-news {
    float: left;
    max-width: 100%;
    width: 100%;
    position: relative;
    padding: 20px 0;
    border-bottom: solid 0.5px #e0e0e0;
  }

  .special1 li:first-child {
    min-height: 313px;
    padding-top: 0;
  }
  .post-sapo {
    font-size: 15px;
  }
  p {
    text-indent: unset;
  }

  .post-listing .other-news {
    float: left;
    width: 100%;
    position: relative;
    padding: 20px 0;
    border-bottom: solid 0.5px #e0e0e0;
  }
  .thumb200 {
    width: 32%;
    height: 125px;
    display: inline-block;
  }
  .post-listing .description {
    width: 65%;
    display: inline-block;
    vertical-align: top;
    padding-left: 15px;
    text-align: left;
  }
  .post-title4 {
    width: 100%;
  }
  

  .pagination {
    float: left;
    width: 100%;
    border-top: solid 0.5px #e0e0e0;
    padding: 20px 0;
  }
  .pagination-right {
    float: right;
  }
  .pagination-pages.active {
    background-color: #dc1435;
    color: #fff;
  }
  .pagination-pages {
    margin-left: 10px;
    float: left;
    height: 32px;
    width: 32px;
    text-align: center;
    line-height: 32px;
    background-color: #f2f2f2;
    border-radius: 2px;
    -webkit-border-radius: 2px;
  }
  .aside-300 {
    position: unset;
    width: 100%;
    margin: 0;
  }
  .boder_fix {
    border-right: none;
  }
  .widget {
    float: left;
    width: 100%;
    margin-bottom: 20px;
  }
  .accordion_item1 {
    padding: 13px;
    position: relative;
    width: 100%;
    float: left;
    border-bottom: solid 0.5px #e0e0e0;
  }
  .footer {
    max-width: 100%;
    width: 100%;
  }
  .footer-container ul {
    display: block;
  }
  .footer-col5 {
    margin-left: 17px;
    float: left;
    width: 14.6%;
    margin-right: 2%;
    position: relative;
  }
  .footer-add {
    width: 58%;
  }
  .footer-logo {
    max-width: 100%;
    width: 22%;
  }
  .footer-add {
    max-width: 100%;
    width: 53%;
    font-size: 15px;
  }
  .footer-social {
    max-width: 100%;
    width: 21%;
  }
}

.calendar-boxs {
  float: right;
  width: 58.5%;
}
.calendar-slider {
  background: url(https://lichngaytot.com/content/images/bglich1.png) repeat;
  float: left;
  width: 100%;
  position: relative;
}
.boxs_slider {
  float: left;
  width: 100%;
  margin-bottom: 20px;
}
input,
select {
  background-color: #fff;
  float: left;
  width: 100%;
  border: solid 1px #e0e0e0;
  height: 40px;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  outline: none;
  margin: 0;
  padding: 0 10px;
}
.calendar-header {
  float: left;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  height: 32px;
  line-height: 32px;
  margin-top: 10px;
  color: #dc1435;
}
.w-header {
  
  float: left;
  position: relative;
  top: 50%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
}
button.addDays:focus {
  outline: none;
}
.ic-view-calendar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  float: left;
  height: 32px;
  line-height: 32px;
  width: 32px;
  padding: 0;
}
.ic-ic-view-calendar {
  font-size: 24px;
  line-height: 32px;
  color: #dc1435;
}
.ddmmyy {
  cursor: pointer;
  float: left;
  padding: 0 20px;
  color: #dc1435;
}
.ic-next-calendar {
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 32px;
  float: left;
  line-height: 32px;
  width: 32px;
  padding: 0;
}
.ic-ic-next-calendar {
  font-size: 24px;
  line-height: 32px;
  color: #dc1435;
}
.calendar-box1 {
  float: left;
  width: 100%;
  color: #dc1435;
  padding: 16px;
  text-align: center;
  height: 290px;
  position: relative;
}
.calendar-box1 .rows-ngay {
  color: #dc1435;
}
.rows-ngay {
  font-size: 100px;
  font-weight: bold;
  line-height: 100px;
  margin-bottom: 10px;
}
.rows-thu {
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 10px;
}
.row-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 15px;
}
.rows-danhngon {
  font-style: italic;
  font-size: 14px;
}
.rows-tacgia {
  font-size: 14px;
}
.swiper-button-prev,
.swiper-button-next {
  border: 0;
  opacity: 0.5;
  background: #fff;
  cursor: pointer;
  z-index: 10;
  text-align: center;
  position: absolute;
  top: 50%;
  width: 32px;
  height: 56px;
  line-height: 56px;
  transform: translate(0, -50%);
}
.swiper-button-next {
  right: 0;
}
.swiper-button-prev {
  left: 0;
}
.fixtop {
  top: 20%;
  transform: translate(0, -25%);
  background: #eaa6a6;
}
.calendar-box2 {
  float: left;
  width: 100%;
  padding: 15px 0;
  color: #703f3f;
  background: #f4e9e9;
}
.calendar-col2 {
  width: 50%;
  float: left;
  padding: 0 15px;
  position: relative;
}
.text-right {
  text-align: right;
}
.calendar-info1 {
  font-weight: bold;
  height: 40px;
  width: 100%;
  float: left;
  line-height: 40px;
  margin-bottom: 10px;
}
.img-12congiap {
  height: 40px;
}
.ngay-am {
  float: right;
  font-size: 30px;
  line-height: 40px;
  margin-left: 10px;
}
.calendar-col2 p {
  color: #703f3f;
  font-size: 14px;
}
.calendar-info2 {
  height: 40px;
  width: 100%;
  float: left;
  line-height: 40px;
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 18px;
}
.calendar-bottom
{
    float: left;
    width: 100%;
    background: #e5c1c2;
    padding: 6px 15px;
    text-align: center;
    font-weight: bold;
    font-size: 13px;
}
.calendar-bottom a{
    color: #653535;
}
.calendar-link.left{
    float: left;
}
.calendar-link-right{
    float: right;
}
/* Content-right */
.form-widget {
  float: left;
  width: 100%;
}
.form-group:last-child {
  margin-bottom: 0;
}
select {
  background: url(https://lichngaytot.com/Content/images/arow.svg) no-repeat;
  background-position: right 8px top 50%;
  padding: 0 25px 0 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  text-overflow: "";
  appearance: none;
}
.select-widget1 {
  float: left;
  width: 95px;
  margin-right: 10px;
  padding: 0 5px;
}
.select-widget2 {
  float: left;
  width: 100px;
  margin-right: 10px;
  padding: 0 5px;
}
.btn1,.btn2 {
  display: inline-block;
  border: solid 1px #e0e0e0;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.btn-widget1 {
  width: 85px;
}

.caleandar-boxs {
  border: solid 0.5px #e0e0e0;
  float: left;
  width: 100%;
  margin-top: 15px;
}
.fc-calendar-container {
  background: #f6f6f6;
  box-shadow: inset 0 1px rgb(255 255 255 / 80%);
  position: relative;
  width: 100%;
}
.fc-calendar .fc-head {
  font-weight: 700;
  text-transform: uppercase;
  height: 30px;
  line-height: 30px;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-top: 1px solid #ddd;
  font-size: 13px;
  width: 100%;
  background: #f1f1f1;
  color: #666;
}
.fc-calendar .fc-head > div {
  text-align: center;
  border-right: solid 0.5px #e0e0e0;
}
.fc-calendar .fc-head > div,
.fc-calendar .fc-row > div {
  float: left;
  height: 100%;
  width: 14.28%;
  width: -moz-calc(100%/7);
  width: -webkit-calc(100%/7);
  width: calc(99.99% / 7);
  position: relative;
}
.fc-calendar .fc-body {
  position: relative;
  width: 100%;
  border: 1px solid #ddd;
}
#calendar-right .fc-five-rows .fc-row,
#calendar-right .fc-six-rows .fc-row,
#calendar-right .fc-four-rows .fc-row {
  height: 50px;
}
.fc-calendar .fc-row {
  width: 100%;
  border-bottom: 1px solid #ddd;
}
.fc-calendar .fc-row > div:empty {
  background: #f1f1f1;
  cursor: default;
}
.fc-calendar .fc-row > div > span.fc-date {
  float: left;
  height: 14px;
  font-size: 14px;
  line-height: 14px;
  font-weight: 700;
  /* color: #000; */
  padding: 3px 5px;
  /* text-shadow: 0 -1px 0 rgb(255 255 255 / 80%);*/
}
.fc-calendar .fc-row > div > span.fc-weekday {
  padding-left: 5px;
  display: none;
}
.fc-calendar .fc-row > div > div a,
.fc-calendar .fc-row > div > div span {
  display: block;
}
.fc-content .fc-date-ngayam {
  color: #999;
  bottom: 0;
  float: left;
  position: absolute;
  right: 2px;
  text-align: right;
  width: 100%;
}
.fc-calendar .fc-row > div {
  background: #fff;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-right: 1px solid #ddd;
  padding: 1px;
  overflow: hidden;
}
.fc-row .fc-content .weekend {
  color: #dc1435;
}
.news-content {
  width: 39%;
  float: left;
}
.boder_fix {
  border-right: solid 0.5px #e0e0e0;
  padding-right: 15px;
  float: left;
  width: 100%;
}
.section {
  float: left;
  width: 100%;
  margin-bottom: 30px;
  position: relative;
}
.section.bottom20 {
  margin-bottom: 20px;
}
.grid_colum {
  display: flex;
  flex-wrap: wrap;
}
.grid_colum_item {
  display: flex;
  width: 31.3%;
  margin-right: 3%;
  margin-bottom: 20px;
}
.grid_colum_boxs {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.grid_images {
  background-size: cover;
  overflow: hidden;
  position: relative;
}
.thumb {
  margin-bottom: 10px;
  float: left;
  width: 100%;
  position: relative;
}
.grid_images img {
  width: 100%;
  height: 130px;
  object-fit: cover;
}
.grid_colum_item:nth-child(3n + 3) {
  margin-right: 0;
}
.grid_boxs_content {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
}
.post-title2 {
  font-size: 16px;
  font-weight: bold;
}
.section.fixboder-top {
  padding-top: 20px;
  border-top: solid 0.5px #e0e0e0;
}
.other-news {
  float: left;
  width: 100%;
  position: relative;
  padding: 20px 0;
  border-bottom: solid 0.5px #e0e0e0;
}

.description {
  padding-left: 10px;
  vertical-align: top;
  width: 65%;
  display: inline-block;
}
.post-title4 {
  font-size: 18px;
  font-weight: bold;
  padding-bottom: 10px;
}

.section.bottom20 {
  margin-bottom: 20px;
}
.cat-box-title {
  float: left;
  width: 100%;
  position: relative;
}
.title-cat {
  font-size: 22px;
  padding-bottom: 20px;
}
.cat-box-content {
  float: left;
  width: 100%;
  position: relative;
}
.col2 {
  float: left;
  width: 48.5%;
  margin-right: 3%;
  position: relative;
}
.boxs_boder {
  border: solid 0.5px #e0e0e0;
  float: left;
  padding: 15px;
  width: 100%;
}
.title-xem-ngay-tot-xau {
  text-align: right;
  padding: 10px 0;
  font-size: 16px;
  margin-bottom: 10px;
}
.form-group {
  float: left;
  width: 100%;
  position: relative;
  margin-bottom: 15px;
  display: table;
}
.label-date {
  float: left;
  width: 45%;
  text-align: right;
  padding-right: 15px;
  font-size: 16px;
  line-height: 36px;
}
.input_right {
  float: right;
  width: 55%;
}

.form-group:last-child {
  margin-bottom: 0;
}
.btnright {
  float: right;
}
.btn-defau {
  padding: 0 20px;
  text-transform: uppercase;
  font-size: 16px;
}
.btn3 {
  background: #dc1435;
  display: inline-block;
  padding: 0 10px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  cursor: pointer;
  text-align: center;
  border-radius: 2px;
  -webkit-border-radius: 2px;
}
.input_right input{
display: block;
}

.col2:nth-child(2n+2){
    margin-right: 0;
}
.link-xntx{
    float: left;
    width: 100%;
    padding: 0 10px;
    border: solid .5px #e0e0e0;
    height: 68px;
    line-height: 68px;
    font-size: 16px;
    font-weight: bold;
    padding-left: 85px;
    position: relative;
}
.img-link-xntx{
    position: absolute;
    left: 14px;
    top: 16px;
    height: 36px;
    width: 36px;
}
.bgf5e3e3{
    background: #f5e3e3;
    padding: 15px;
}
.cat-box-title.cat-box-title2{
    border-bottom: solid 1px #edd6d6;
    padding-bottom: 10px;
    margin-bottom: 15px;
}
.title-cat2{
    float: left;
    border-left: solid 5px #dc1435;
    font-size: 22px;
    padding-left: 13px;
}
.moreall{
    float: right;
    color: #6f6f6f;
    font-size: 14px;
    margin-top: 10px;
}
.post-title3{
    font-size: 16px;
    font-weight: normal;
}
.bgf5e3e3 .description{
    width: 58%;
}
.cat-box-title.cat-box-title3{
    border-bottom: solid 3px #e8e8e8;
    margin-bottom: 15px;
    height: 43px;
}
.title-cat3{
    float: left;
    border-bottom: solid 3px #dc1435;
    font-size: 22px;
    padding-bottom: 9px;
    font-weight: normal;
    height: 43px;
}
.cat-box-content .description{
    width: 60%;
}
.h200{
    height: 200px;
}
.thumb120 img{
    height: 80px;
}
.special li:first-child{
    min-height: 334px;
}
li.fixmobi{
  border-bottom: none;
}
.section.bge8e8e8{
    background: #e8e8e8;
    padding: 13px;
}
.cat-box-title.mg20{
    margin-bottom: 20px;
}
.h125onlydesktop{
    height: 125px;
}

.li-item-3{
    float: left;
    width: 31.3%;
    margin-right: 2%;
    position: relative;
}
li.special1:first-child{
    min-height: 334px !important;
}
.input-dropdown{
  padding: 15px;
  background: #fff;
  display: none;
  position: absolute;
  top: 40px;
  left: 0;
  right: 0;
  z-index: 10;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -webkit-box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
  -moz-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16),0 2px 10px 0 rgba(0,0,0,.12);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.column3{
  float: left;
  width: 31.3%;
  margin-right: 2%;
  position: relative;
}

.showbox{
  display: block;
}

/* content right */
.thumb100{
  width: 100px;
  display: inline-block;
}
.widget-news .description{
  width: 190px;
  display: inline-block;
  padding-left: 12px;
}
.post-title-widget{
  font-size: 19px;
}
.widget-news{
  padding: 20px 0;
    border-bottom: solid 1px #e0e0e0;
    position: relative;
    float: left;
    width: 100%;
}
.widget-news:last-child{
  padding-bottom: 0;
    border-bottom: 0;
}
.more-link-widget{
  text-align: center;
    padding-top: 20px;
    float: left;
    width: 100%;
}
.widget-news3 .description{
  width: 83%;
}

/* New header */
.wrapper {
  z-index: 2;
  background: #d13e3e;
  position: fixed;
  width: 100%;
}
.wrapper nav {
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 68px;
  align-items: center;
  justify-content: space-between;
}
nav .content {
  display: flex;
  align-items: center;
}

nav .content .links {
  margin-left: 80px;
  display: flex;
}
.content .logo h3 {
  color: #fff;
  font-size: 26px;
  font-weight: 600;
  font-family: "Cookie", cursive;
}
.content .logo span {
  color: rgb(43, 41, 41);
}

.content .links li {
  list-style: none;
  line-height: 50px;
}
.content .links li a,
.content .links li label {
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  padding: 9px 17px;

  transition: all 0.3s ease;
}
.content .links li label {
  display: none;
}
.content .links li a:hover,
.content .links li label:hover {
  color: #e7adad;
}
.wrapper .search-icon,
.wrapper .menu-icon {
  color: #fff;
  font-size: 14px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon {
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before {
  display: none;
  content: "\f00d";
}

.wrapper .search-box {
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s ease;
}
.wrapper #show-search:checked ~ .search-box {
  opacity: 1;
  pointer-events: auto;
}
.search-box input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #d13e3e;
}
.search-box input::placeholder {
  color: #f2f2f2;
}
.search-box .go-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 50px;
  width: 70px;
  background: #d13e3e;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  height: 50px;
}
.wrapper input[type="checkbox"] {
  display: none;
}

.content .links ul {
  position: absolute;
  background: #d13e3e;
  top: 51px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  width: 220px;
}
.hr {
  border-bottom: 0.5px solid rgb(236, 157, 157);
  width: 98%;
  margin: 0 auto;
}
.content .links li:hover > ul {
  opacity: 1;
  visibility: visible;
  transition: all 0.4s;
}
.content .links ul li a {
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px !important;
}
.content .links ul ul {
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li {
  position: relative;
}
.content .links ul li:hover ul {
  top: 0;
}

.container {
  width: 70%;
  margin: auto;
  height: 1000px;
}
.box-left {
  background-color: white;
  margin-top: 55px;
  float: left;
  width: 70%;
  padding: 10px;
  height: 1023px;
}
.box-left h1 {
  font-size: 20px;
  margin-bottom: 7px;
}
.box-left .content {
  font-size: 13px;
}
.box-left .other-new {
  clear: both;
  padding: 5px;
}
.other-new h3 {
  color: rgb(43, 40, 40);
  font-size: 15px;
}
.other-new p {
  font-size: 13px;
  padding: 10px 0;
}
.other-new h3:hover {
  color: rgb(196, 84, 84);
}
.box-left .other-new img {
  float: left;
  margin-right: 5px;
  width: 160px;
}

.box-right {
  background-color: white;
  height: 1023px;
  float: right;
  width: 30%;
  margin-top: 55px;
}

.list-new {
  width: 250px;
  margin: auto;
  background: #f5f5f5;
  margin-top: 10px;
  height: auto;
  padding: 5px 20px;
}
.list-new h1 {
  font-size: 20px;
  text-align: center;
}
.list-new .new-c a {
  font-size: 14px;
  padding: 5px;
  color: rgb(34, 34, 37);
}
.list-new a:hover {
  color: rgb(196, 84, 84);
}
.hr {
  border-bottom: 1px solid rgb(184, 156, 156);
  margin-top: 5px;
  width: 99%;

}
/* NEW Footer */
.footer-distributed {
  background-color: #292c2f;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;

  padding: 55px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

.footer-distributed .footer-left {
  width: 40%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px "Cookie", cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: #d82020;
}

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
  padding: 0;
}
.ha {
  border: 0.4px solid rgb(124, 116, 116);
  margin-top: 19px;
  width: auto;
}
.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #993232;
  text-decoration: none;
}

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 2px;

  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;

  margin-right: 3px;
  margin-bottom: 5px;
}
/* End footer*/

/* Responsive code start */

@media screen and (max-width: 1250px) {
  .container {
    width: 100%;
  }
  .wrapper nav {
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links {
    margin-left: 30px;
  }
  .content .links li a {
    padding: 5px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input {
    padding: 0 100px 0 15px;
  }
}

@media screen and (max-width: 905px) {
  .wrapper{
    height: 55px;
  }
  .wrapper .menu-icon {
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before {
    display: none;
    content: "\f00d";
  }
  nav .content .links {
    
    display: block;
    position: fixed;
    background: #d13e3e;
    height: 100%;
    width: 100%;
    top: 50px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.6s ease;
  }
  nav #show-menu:checked ~ .content .links {
    left: 0%;
  }
  .content .links li {
    display: block;
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label {
    line-height: 40px;
    font-size: 14px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link {
    display: none;
  }

  .content .links ul,
  .content .links ul ul {
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-TV:checked ~ ul,
  .content .links #show-CHD:checked ~ ul,
  .content .links #show-TL:checked ~ ul,
  .content .links #show-GM:checked ~ ul,
  .content .links #show-K:checked ~ ul,
  .content .links #show-PT:checked ~ ul {
    max-height: 100vh;
  }
  .content .links ul li {
    
    margin: 7px 20px;
  }
  .content .links ul li a {
    font-size: 14px;
    line-height: 30px;
    border-radius: 5px !important;
  }
}
@media screen and (max-width: 787px) {
  .box-right {
    display: none;
  }
  .box-left {
    width: 100%;
  }

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}
@media screen and (max-width: 555px) {
  .box-right {
    display: none;
  }
  .box-left {
    width: 100%;
    height: auto;
  }

  .footer-distributed {
    font: bold 14px sans-serif;
  }

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }
  .main {
    line-height: normal;
    font-size: auto;
  }
}

@media screen and (max-width: 444px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 20px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}

@media screen and (max-width: 400px) {
  .wrapper nav {
    padding: 0 10px;
  }
  .content .logo a {
    font-size: 16px;
  }
  .wrapper .search-box {
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon {
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input {
    padding-right: 30px;
  }
}